body {    
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center contents horizontally */
    /* justify-content: center; */
    /*min-height: 100vh; /* Ensure full height */
    margin: 20px;
    background-color: dimgrey;
    /*width: 700px; /*<-- consider something (better) like this later for better viewing on moble*/
    /* box-sizing: border-box; */

}

.container {
    /*justify-content: space-around;*/
    /*gap: 20px;*/
    /*padding: 20px;*/
    /*border: 1px solid #ccc; /* Optional: for better visualization of the container */
    
    /* flex-direction: column;  */
    /*background-color: #f9f9f9; /* Optional: background color for the container */
    
    gap: 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 20px; /* Ensure space at the bottom */
    width: 100%; /* Take full width */
    /*max-width: 900px; /* Limit the maximum width */
}

.row {
    display: flex;
    flex-direction: row;
    /*align-items: center; */
    margin: 5px; /* Reduced margin */
    padding: 5px; /* Reduced padding */
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    /*max-height: 400px; /* Set a max height */
    /*overflow-y: auto; /* Allow vertical scrolling */
    /*max-width: 150px; /* Set a max width for the column */
    word-wrap: break-word; /* Allow long words to break */
}

.column {
    /* display: flex; <- no!*/
    /*align-items: center; /* Center align boxes within each column */
    /*flex: 1; /* Allow columns to grow and fill the available space */    
    /*overflow-y: auto; /* Allow vertical scrolling */

    /* 
    margin: 5px; 
    padding: 5px; 
    border: 1px solid #ccc;
    min-width: 100px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;  */
    
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin: 5px; /* Reduced margin */
    padding: 5px; /* Reduced padding */
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    /*max-height: 400px; /* Set a max height */
    overflow-y: auto; /* Allow vertical scrolling */
    max-width: 150px; /* Set a max width for the column */
    word-wrap: break-word; /* Allow long words to break */
}

.column h4 {
    text-align: center; /* Center align headers */
    margin-bottom: 10px; /* Add some space below the header */
}

.box {
    /* width: 150px;
    height: 80px;
    margin: 2px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 5px; */

    width: 70px; /* Fixed width for the box */
    height: 40px;
    margin: 2px 0; /* Reduced margin */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden; /* Hide overflow text */
    text-overflow: ellipsis; /* Add ellipsis for overflow text */
    white-space: nowrap; /* Prevent wrapping */
}

.box.selected {
    background-color: #d0e6f7;
}

#buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px; /* Space between buttons and selections */
}

button{
    width: 80px; 
    height: 70px;
    margin: 10px; 
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#aggregatedSelections {
    margin-top: 20px; /* Add some space above the list */
    padding: 0;
    list-style-type: none; /* Remove default list styling */
    /*overflow-y: scroll; /* Always show vertical scrollbar */
    /* width: 33%; */
    min-width: 500px;
}

#aggregatedSelections li {
    /* display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    margin: 5px 0;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px; */

    display: flex;
    justify-content: space-between;
    
    margin-top: 5px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: rgb(219, 219, 219);
    font: bold;
    align-items: center;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    max-height: 300px; /* Set a max height */
    /*overflow-y: auto; /* Allow vertical scrolling */
    width: 100%; /* Take full width */
    /*max-width: 900px; /* Limit the maximum width */
}

#aggregatedSelections li .remove-btn {
    /*background-color: #af0000;*/
    /*color: rgb(0, 0, 0);*/
    /* border: none; */
    border: black;
    color: rgb(216, 0, 216);
    /* border-radius: 50%; */
    border-radius: 5px;
    cursor: pointer;
    width: 55px;
    height: 50px;
    /* margin-left: 50px; */
    margin-left: auto;
    /*display: flex;*/
    /*align-items: center;*/
    /*justify-content: center;*/
}