<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fitness Tracking</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="row">
        <button type="button" id="aggregateButton">Add</button>
        <button type="button" id="clearButton">Clear</button>
        <button type="button" id="submitButton">Send to Database</button>
    </div>
    <div class="container">
        <form id="selectionForm">
            <div class="row">     
                <div class="column">
                    <h4>Motions</h4>
                    <div class="box" data-column="1" data-value="Squat">Squat</div>
                    <div class="box" data-column="1" data-value="Deadlift">Deadlift</div>
                    <div class="box" data-column="1" data-value="Bench">Bench</div>
                </div>
                <div class="column">
                    <h4>Sets</h4>
                    {% for j in range(0, 10) %}
                        <div class="box" data-column="sets" data-value="{{ j }}">{{ j }}</div>
                    {% endfor %}
                </div>
                <div class="column">
                    <h4>Reps</h4>
                    {% for j in range(0, 10) %}
                        <div class="box" data-column="reps" data-value="{{ j }}">{{ j }}</div>
                    {% endfor %}
                </div>
                <div class="column">
                    <h4>100's kg</h4>
                    {% for j in range(0, 10) %}
                        <div class="box" data-column="weight-100s" data-value="{{ j }}">{{ j }}</div>
                    {% endfor %}
                </div>
                <div class="column">
                    <h4>10's kg</h4>
                    {% for j in range(0, 10) %}
                        <div class="box" data-column="weight-10s" data-value="{{ j }}">{{ j }}</div>
                    {% endfor %}
                </div>
                <div class="column">
                    <h4>1's kg</h4>
                    {% for j in range(0, 10) %}
                        <div class="box" data-column="weight-1s" data-value="{{ j }}">{{ j }}</div>
                    {% endfor %}
                </div>

            </div>
        </form>
        
    </div>
    <ul id="aggregatedSelections"></ul> 
    <!-- <button type="button" id="submitButton">Submit to Database</button> <- this might still be a good idea; it forces users to review what they added and implies the added records will be what is sent to the db.-->
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>
</html>
